.button {
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    outline: none;
    border: 0px;
    color: white;
    background-color: var(--yellow);
    pointer-events: all;
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    .button {
        width: 8rem;
    }
}